
.App {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.prism-code {
  max-width: 100%;
  overflow-x: auto;
  padding: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 50vw;
}
